<div class="footer">
    <div class="row border-top d-flex align-items-stretch justify-content-center">
        <div class="col-2 border-right">

        </div>
        <div class="col-10">
            <div class="row p-4">
                <div class="row">
                    <div class="col-3">
                        <ul class="uppercase">
                            <li>why invest</li>
                            <li>industries</li>
                            <li>programs & incentives</li>
                            <li>location</li>
                            <li>news</li>
                            <li>about</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li class="uppercase">contact us</li>
                            <li>mail@stc.com</li>
                            <li>+02-12-14490877</li>
                            <li>Please drop an emailor call us, oir representive</li>
                            <li>will connect with you soon</li>
                        </ul>
                    </div>
                    <div class="col-5">
                        <ul>
                            <li class="mb-2">Subscribe to our newsletter</li>
                            <li class="mb-4">
                                <input type="text" placeholder="E-mail">
                            </li>
                            <li>
                                <button class="btn send-btn">Send</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3"></div>
                    <div class="col-4">
                        <ul class="links">
                            <li class="font-bold">Follow us</li>
                            <li>
                                <i class="fa-brands fa-facebook-f mx-2"></i>
                                <i class="fa-brands fa-twitter mx-2"></i>
                                <i class="fa-brands fa-youtube mx-2"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-5">
                        <span>@ 2022 stc Sub From A15</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>